/* Apply Flexbox t <body> */
body {
  display: flex;
  flex-direction: column; /* Stack <header>, <main>, and <footer> vertically */
}

/*Apply Flexbox to <main> */
main {
  display: flex;
  flex-direction: row; /* Stack <article> and <aside> horizontally */
  flex: auto; /*Allow <main> to take automatic height and width */
}

/* Article takes up 2/3 of the width */
article{
  flex: 2;
  overflow: auto; /* Allow scrolling in article */
}

/* Aside takes up 1/3 of the width */
aside{
  flex: 1;
  overflow-y: auto; /*Allow scrolling in aside */
}